%br
%br
%br
%br
%br
= t('end.title')
%br
%br
%br
%br
%br
%br
%br
= t('end.explanation')
%div#rotateTeam
  - edgecaser_images.shuffle.each do |image_link|
    %img{:src => "http://edgecase.com/#{image_link}"}
%div#teamLabel
  %a{:href => 'http://edgecase.com/about', :target => '_blank'}
    = t('end.team')
