%section#intro
  %h1 Ruby Koans Online

  %p
    Welcome to the Ruby Koans online! The Ruby Koans are a great way to learn about the
    Ruby language, and the Ruby Koans Online is a quicker path to enlightenment.
    No longer the wait for Ruby to install on your machine, no more the learning of how to run
    the tests before you can enjoy. Ruby Koans Online helps you learn kung fu.
    Simply click the Start link below to enhance your calm.
  %p
    However, if this is your first time through the Koans, we recommend you read the introduction
    below to find out how the Koans work.

