%section#issues
  %h3 Known Issues

  %ul
    %li
      In Chrome, hitting the browser back button from the Koans error page
      will cause the browser to move some of your answers around.
      Either don't use Chrome or refresh the page after hitting your
      browser back button to get Chrome to put your answers in their
      proper places.
      %a{:href => 'https://github.com/edgecase/ruby_koans_online/issues/10#issuecomment-4678002', :target => '_blank'}Documented Issue

  %p
    If you encounter any other issues whilst using the Ruby Koans Online, please contact us using the
    Contact button at the top right of the window.

  %p
    Thanks, the Ruby Koans Online Team

