%section#the_world
  %h2 The World

  %p
    The koans are broken out into areas covering such topics as hashes, modules and classes.
    Each of these are presented on their own page.
  %p
    Each koan builds up your knowledge of Ruby and builds upon itself.
  %p
    Some koans simply need to have the correct answer substituted for an incorrect one.
    Some, however, require you to supply your own answer. If you see a textarea rather than a
    simple textfield, it is a hint to you to supply your own code in order to make it work correctly.

