%section#intro
  %h1 Ruby Koans Online

  %p
    The Ruby Koans are a great way to learn about the Ruby language.
    This Ruby Koans
    %em Online
    is an abridged version of the Koans in the convenience of a browser.
  %p
    However, if this is your first time through the Koans, we recommend you read the introduction
    below to find out how the Koans work.

