%section#the_world
  %h2 The Koans World

  %p
    The koans are broken out into areas covering such topics as hashes, modules and classes.
    Each of these are presented on their own page.
  %p
    Each koan builds up your knowledge of Ruby and builds upon itself.

